<!DOCTYPE html>
<html lang="en">
<head> </head>
  <body>
    <header>Welcome! <%= username %></header>
        <form action="/logout" method="POST" style="">
          <label for="logout"></label>
          <input type="submit" value="logout">
        </form>
        <a href="/login">login</a>
        <a href="/register">register</a>
  </body>
</html>
