<!DOCTYPE html>
<html lang="en">
<head> </head>
  <body>
    <header>Hello World!</header>
      <form action="/login" method="POST" style="">
        <label for="username">Enter a username:</label>
        <input id="username" type="text" name="username" placeholder="username" style="">
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
