<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>
    <form action="/register" method="POST" style="">
      <label for="email">Enter email:</label>
      <input id="email" type="email" name="email" placeholder="email" style="">
      <label for="password">Enter password:</label>
      <input id="password" type="password" name="password" placeholder="password" style="">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
