<DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
    <form action="/urls_index" method="POST" style="">
        <label for="url">Enter url: </label>
        <input id="url" type="text" name=""> 
        <input type="submit" value="Submit">
    </form>

    <table style="width:35%">
        <tr>
            <th>URL</th>
            <th>short URL<th>
        </tr>
            <td>example-1</td>
            <td>example-1b</td>
        </tr>
    </table>



</body>
</html>