<DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
    <form action="/urls_index" method="POST" style="">
        <label for="url">Enter url: </label>
        <input id="url" type="text" name=""> 
        <input type="submit" value="Submit">
    </form>

    <ul>
      <li>URL    shortURL</li>
      <% for (key in urls) { %>
      <li><%=key%>   <%=urls[key]%></li>
      <% } %>
    </ul>
</body>
</html>