<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <% if (username === 'guest') { %>

  <% } else { %>
    <table class="table table-hover">
      <thead>
        <tr class="bg-primary">
          <th>Long URL</th>
          <th>Short URL</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
        <% for (url in urls) { %>
          <form action= "<%= `/urls/${urls[url].shortURL}/delete` %>" method="POST" style="margin:150px;">
            <tr>
              <td><label> <%= urls[url].longURL %> </label></td>
              <td><lavel> <%= urls[url].shortURL %> </label></td>
              <td><a href= "/urls/<%=urls[url].shortURL%>"> Edit </a></td>
              <td><input type="submit" value="Delete"></td>
            </tr>
          </form>
        <% } %>
      </table>
  <% } %>
</body>
</html>
