<!DOCTYPE html>
<head>
    <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <% if (username === 'guest') { %>

  <% } else { %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Update</th>
        </tr>
      </thead>
      <form action="/urls/<%= shortURL %>" method="POST" style="">
        <tr>
          <td><%= shortURL %></td>
          <td><input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style=""></td>
          <td><input type="submit" value="Update"></td>
          </td>
        </tr>
      </form>
  </table>
  <% } %>


</body>
</html>
